// Place all the styles related to the Quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.toggle-quest{
  .show-on-load{
    display: none;
  }
  .hide-on-load{
    display: block;
  }
  &.loading{
    .show-on-load{
      display: block;
    }
    .hide-on-load{
      display: none;
    }

  }
}